doctype html
html(lang='en')
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href=`${server.cdnUrl}styles.home.${version}.css` rel="stylesheet")
    block header
    block headerScripts
  body
    include includes/nav.pug
    block content
    block footer
    script(type="text/javascript" src=`${server.cdnUrl}vendor.${version}.js`)
    block footerScripts